




/*  Full screen Background image  */
* {
  margin:  0;
  padding: 0;
}



/* properties for the body area and full screen background image */
body {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../images/houses.jpg");
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 300px;


  font:15px/normal Arial, Helvetica, serif;

}


/* Container Class */

.container{
  margin:auto;
  width: 80%;
  overflow: hidden;
}

#banner {

  background-color: whitesmoke;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

#banner img {

  border: none;
}


#banner #nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header #navbar {
  padding-right: 40px;
}

header #navbar a {
   font-family: 'Noto Sans','Helvetica', sans-serif;
  margin-right: 10px;
  color: #245abc;
  padding: 9px;
  font-weight: 700;
  text-decoration: none;
}

header #navbar a:hover {
  transition: ease-in-out .3s;
  border-radius: 5px;

  background-color: #Fefefe;

}

#banner .banner-text {
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




/* All UL's will have this margin/padding by default*/


/*Header Details*/
header {
  background: #f2f0f0;
  color: #3B506B;

  min-height: 70px;
  border-bottom: #1D2541  3px solid;
}

/*links in the header */
header a {

  /*margin: 0 auto;*/
  color: #5BC1BE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li {
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}



header a:hover {
  color: #1D2541;
  font-weight: bold;
}

/* main content area*/
#maincontent {
  min-height: 400px;
  text-align: center;
  color: #FFF;

}
#maincontent h1 {
  margin-top: 150px;
  font-size: 55px;
  margin-bottom: 10px;
  font-family: 'Monoton', "Helvetica", cursive;
  letter-spacing: 3px;
  word-spacing: 25px;
}

#maincontent p {
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Noto Sans','Helvetica', sans-serif;
}



/*Top Pick Boxes Details */
.top-picks {
  border-radius: 10px;
  background-color: #fff;
  margin-top: 125px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px;
}

#box{
  padding-top: 20px;
  padding-top: 20px;
  margin-top: 20px;
  display: flex;

}

#boxes .box {
  float: left;
  width: 20%;
  height: 20%;
  padding: 10px;
  text-align: center;

}
#boxes .box h3 {
  margin-top: 10px;
  color: #000;
  text-align: center;

}

/* Top Pick Image Resizing */
.resize-family {
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  width: 200px;
  height: 150px;

  background-image: url('../images/family2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}
.resize-friends {
  border-radius: 5px;
  width: 200px;
  height: 150px;
  margin: 0 auto;
  background-image: url('../images/friends2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}
.resize-adventure {
  border-radius: 5px;
  width: 200px;
  height: 150px;
  margin: 0 auto;
  background-image: url('../images/adventure2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.resize-romantic{
  border-radius: 5px;
  width: 200px;
  height: 150px;
  margin: 0 auto;
  background-image: url('../images/romantic2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

/* Styles for Contact page */
.contact h2 {
  margin-top: 50px;
  font-size: 55px;
  margin-bottom: 10px;
  font-family: 'Monoton', "Helvetica", cursive;
  letter-spacing: 3px;
  word-spacing: 25px;
}

label {
  font-size: 18px;
  font-family: 'Noto Sans','Helvetica', sans-serif;
  color: royalblue;
}

input[type="text"],
select,
textarea {
  font-size: 14px;
  font-family: 'Noto Sans','Helvetica', sans-serif;
  width: 80%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* styles for password entry */
input[type="password"],
select,
textarea {
  font-size: 14px;
  font-family: 'Noto Sans','Helvetica', sans-serif;
  width: 80%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  font-weight: 700;
  background-color: royalblue;
  color: #fff;
  font-family: 'Noto Sans','Helvetica', sans-serif;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid royalblue;
  cursor: pointer;
  left: 50%;
  align-items: center;
  justify-content: center;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: transparent;
  color: royalblue;

}

/* Contact Title */
.contact h2{
  padding-top: 15px;
 text-align: center;
 margin: 15px;
 font-size: 50px
}


/* Add a background color and some padding around the form */
.Container-contact {
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  align-items: center;
}

/* Styles for ABOUT PAGE */

/* About Header */
.Container-about{
  margin-top: 10px;
  margin-bottom: 16px;
}
.Container-about h2{
  margin-top: 50px;
  font-size: 55px;
  margin-bottom: 10px;
  font-family: 'Monoton', "Helvetica", cursive;
  letter-spacing: 3px;
  word-spacing: 25px;

}

/* White Box */
.statements {
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 1200px;
  min-height: 300px;
  background-color: #ffffff;

  border-radius: 10px;
}
ul > li {
  font-family: 'Noto Sans','Helvetica', sans-serif;
  font-size: 18px;
  list-style-type: circle;
  display: inline;
  text-align: left;
  margin-left: 20px;
}

/* Statements/ Missions */
.bullet-points {
  text-align: left;
  color: #3B506B;
  font-size: 15px;
  font-weight: lighter;

}

/* styling for the headers and paragraph */

/* styles for headers/ about page */
.title{
  color: #3B506B;
  font-size: 25px;
word-spacing: 10px;
  font-weight: lighter;
  font-family: 'Monoton', "Helvetica", cursive;
}
/* styling for paragraph in about section */
.para{
  color: #3B506B;
  font-size: 15px;
  font-weight: lighter;
}





/* styling for vacation details */
.vacationdetails {
    display: flex;
    padding-left: 200px;
    padding-top: 200px;
}

.vacationdetails img {
    width: 150px;
    padding-bottom: 100px;
}
.vacationdetails .vacation-image {
    min-width: 200px;
}

.vacationdetails .vacation-description div {
    width:550px;
    font-weight: 600;
    height: 32px;
}

.vacationdetails .text div {
    min-height: 32px;
}
/*Hot spots title */
.hotspots-title  {
  margin-top: 50px;
  font-size: 55px;
  margin-bottom: 10px;
  font-family: 'Monoton', "Helvetica", cursive;
  letter-spacing: 3px;
  word-spacing: 25px;

}




/* styles of the book list table */
.travellist {

  text-align: left;
  font-family: 'Noto Sans','Helvetica', sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  color: #3B506B;

}
.travellist div {
  padding: 3px 5px;
}

.travellist .row {
  display: flex;
}

.travellist .row:nth-child(even) {
  background-color: #f2f0f0;
}

.travellist .header {

  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px 10px 0px 0px;
  background-color: royalblue;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: 600;
  color: #fff;
}

.travellist .col1 {
  width: 300px;
  padding-left: 20px;
}

.travellist a {
 text-decoration: none;
  color: royalblue;
  font-weight: 700;
}
.travellist a:hover {
  text-decoration: underline;
}

.travellist .col2 {
  width: 300px;
}

.travellist .col3 {
  width: 200px;
}

.travellist .col4 {
  width: 200px;

}




/* styles of vacation details table */
.vdetails {
  padding: 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
border-radius: 10px;
  background-color: #FFFFFF;
  color: #3B506B;
}

.vdetails .cover img {
  max-height: 400px;
  margin-right: 20px;
  border-radius: 5px;
}
.vdetails .middle-row {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.vdetails .label div {
  padding-top: 20px;
  font-size: 18px;
  padding-right: 30px;
  max-width: 150px;
  font-weight: 600;
  height: 32px;
  text-align: left;
  color: royalblue;
  font-family: 'Noto Sans','Helvetica', sans-serif;

}

.vdetails .content div {
  padding-top: 20px;
  font-size: 14px;
  color: #000;
  max-width: 300px;
  min-height: 32px;
  text-align: left;
  font-family: 'Noto Sans','Helvetica', sans-serif;

}

.go-back {

  margin: 0 auto;
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
}

.go-back button {
  font-weight: 700;
  background-color: royalblue;
  color: #fff;
  font-family: 'Noto Sans','Helvetica', sans-serif;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid royalblue;
}

.go-back button:hover {
  cursor: pointer;
  background-color: #fff;
  color: royalblue;
}


/*styles for action buttons */
.bookstore-button {
  border-top: 1px solid #CCCCCC;

  padding-top: 50px;
  text-align: center;
}

.bookstore-button input:hover{
  background-color: #fff;
  color: royalblue;

}

.bookstore-button.delete-confirmed {
  display: none;
}

.bookstore-button.delete-initial span,
.bookstore-button.delete-confirmed span {
  color: red;
  font: 12px/18px Arial, Sans-serif;
  display: inline-block;
  margin-left: 40px;
}


/* Backgound template for the add vacations tab */

.addvacations_background {
  background-color: #FFF;
  color: royalblue;
  margin-top: 50px;
}
.addvacations_background table {
  margin: 0 auto;
  border: none;
}

.addvacations_background h2 {
  color: royalblue;
  font-size: 35px;
  word-spacing: 10px;
  font-weight: lighter;
  font-family: 'Monoton', "Helvetica", cursive;
}

/*Styling for the search bar */
.Search {
  padding-top: 50px;
}

.Search p {
 font-size: 18px;
  text-align: center;
  font-family: 'Noto Sans','Helvetica', sans-serif;

}

.Search input[type="submit"]:hover {
  background-color: #fff;
}


/*Styling for loginform file */
/* Login Page Title */
.login h2{
color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 55px;
  margin-bottom: 10px;
  font-family: 'Monoton', "Helvetica", cursive;
  letter-spacing: 3px;
  word-spacing: 25px;
}

/* Add a background color and some padding around the form */

.Container-login {
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  align-items: center;
  color: #3B506B;
}




/* styles of the shopping card */
.shoppingcart {
  background-color: whitesmoke;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center;

}

.hotspotdetailcart {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center;

}

.hotspotdetailcart > a {
  border: 2px solid royalblue;
  border-radius: 5px;
  color: #245abc;
  font-weight: bold;
  text-decoration: none;
  background-color: #fcfcfc;
  width: 90px;
  height: 70px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Noto Sans','Helvetica', sans-serif;
}

.shoppingcart > a {
  border: 2px solid royalblue;
  border-radius: 5px;
  color: #245abc;
  font-weight: bold;
  text-decoration: none;
  background-color: #fcfcfc;
  width: 90px;
  height: 70px;
  padding-top: 5px;
  font-family: 'Noto Sans','Helvetica', sans-serif;

}

.shoppingcart >a > div {
  font-size: 14px;
  font-family: 'Noto Sans','Helvetica', sans-serif;
}

.container-cart h2 {

  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 55px;
  margin-bottom: 10px;
  font-family: 'Monoton', "Helvetica", cursive;
  letter-spacing: 3px;
  word-spacing: 25px;
}





  /*Footer Details */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    width: 100%;
    background-color: #f2f0f0 ;
    color: royalblue;
    text-align: center;
  font-family: 'Noto Sans','Helvetica', sans-serif;

}





